name: GH Pages CI

on:
  push:
    branches:
      - master

jobs:
  jekyll:
    runs-on: ubuntu-16.04

    steps:
      - uses: actions/checkout@v2
   
      - name: Get cached gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
     
      - uses: helaili/jekyll-action@2.0.2
        env:
          # Ideally use GITHUB_TOKEN but it gives error for this action.
          JEKYLL_PAT: ${{ secrets.JEKYLL_PAT }}
